.tagName__container {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.tag {
    background-color: #FF6060;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 500;
    line-height: 142.6%;
    min-width: 115px;
    display: flex;
    justify-content: center;
    transition: all 0.3s;
    cursor: pointer;
}
.tag:hover {
    filter: brightness(92%);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
@media (max-width: 768px) {
    .tagName {
        justify-content: center;
    }
    .tag {
        font-size: 10px;
        padding: 3px 6px;
        border-radius: 5px;
        min-width: 84px;
    }
}