.stars {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .star {
    color: #FF6060;
  }
  
  .star--empty {
    color: #E8E8E8;
  }
@media (max-width: 768px) {
  .star__icone{
    width: 13px;
    height: 13px;
  }
  .stars{
    gap: 7px;
  }
}