.card2{
  background-color: #fff;
  transition: all 0.5s;
  border-radius: 35px 0px 35px 0px;
	box-shadow: 1px 16px 22px -16px rgba(0, 0, 0, 0.222);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  max-width: 325px;
}
.card2__info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 10px;
}
.card2__img{
  height: auto;
  max-width: 100%;
  border-radius: 35px 0px 35px 0px;
}