@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;800&display=swap');
body {
  background: #f7f7f7;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

footer
{
  width: 100%;
}
@media all and (min-width: 0px) and (max-width: 768px){
  header, main
    {
      padding: 20px 20px 0px 20px;
    }
}